<section class="p-2 row mb-4">

    <div class="col row p-0 m-0 border border-success rounded" style=" height: 36rem;  overflow: hidden;">        
        <div class="col-4 d-flex flex-column">
            <button class="my-2 p-0 rounded border border-success bg-success overflow-hidden" style="height: 11rem;">
                <img 
                    src="https://images.pexels.com/photos/2422178/pexels-photo-2422178.jpeg" 
                    class="img-fluid rounded object-fit-cover w-75" 
                    alt="book"
                    style="height: 7rem;"
                >
            </button>
            <button class="my-2 p-0 rounded border border-success bg-success overflow-hidden" style="height: 11rem;" >
                <img 
                    src="https://images.pexels.com/photos/2422178/pexels-photo-2422178.jpeg" 
                    class="img-fluid rounded object-fit-cover w-75"
                    alt="book"
                    style="height: 7rem;"
                >
            </button>
            <button class="my-2 p-0 rounded border border-success bg-success overflow-hidden" style="height: 11rem;">
                <img 
                    src="https://images.pexels.com/photos/2422178/pexels-photo-2422178.jpeg" 
                    class="img-fluid rounded object-fit-cover w-75"
                    alt="book"
                    style="height: 7rem;"
                >
            </button>
        </div>

        <div class="col-8 border-start border-success overflow-hidden mx-auto d-flex justify-content-center align-items-center" 
            style="height: 36rem;"
        >
            <img 
                src="https://images.pexels.com/photos/2422178/pexels-photo-2422178.jpeg" 
                class="img-fluid rounded object-fit-cover w-75" 
                alt="book"
            >
        </div>        
    </div>

    <div class="col py-2 pe-2 ps-4 d-flex flex-column justify-content-between">
        <div>
            <p class="h1 p0-0 m-0 fs-2"> @BookDetails.Title </p>       
            <NavLink href="@GetAuthorUrl(BookDetails.Author.AuthorId)" class="fs-5 text-secondary py-0 my-0 ps-1 text-decoration-none">
                @BookDetails.Author.AuthorName
                <span class="fs-6"><i class="bi bi-link-45deg"></i></span>
            </NavLink> 
            <p class="fs-5 text-secondary py-0 my-0 ps-1">Category: @BookDetails.Category.CategoryName</p>            
        </div>        
        
        <p class="fs-5 text-secondary my-2">@BookDetails.Summary</p>

        <div>
            <div class="d-flex align-items-center justify-content-start my-2">
                @foreach (TagModel tag in BookDetails.BookTags)
                {
                    <p class="my-2 mx-2 fs-5 border border-2 border-success rounded p-2 text-success">@tag.TagName</p>
                }
            </div>      
        
            <p class="fs-5 text-secondary fst-italic">200 sold this month</p>

            <p class="fs-3 fw-bold text-success m-0 mb-2">£@BookDetails.Price.ToString("F2")</p>

            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-success fs-5">Add to Basket</button>
                <button class="btn btn-secondary fs-5 ms-2">Add to WatchList</button>
            </div>       
        </div>                
    </div>    
</section>

@code{
    [Parameter] public BookModel BookDetails { get; set; }

    private string GetAuthorUrl(int id) => $"/author/{id}";
}