@using BookShop.Models
@inject ICartService CartService

<div class="mb-4">
    <div class="shadow border rounded border-success d-flex justify-content-between align-items-center py-2 px-4">

        <div class="d-flex gap-4 align-items-center">
            <img 
                src="https://images.pexels.com/photos/2422178/pexels-photo-2422178.jpeg"
                class="card-img-top rounded"
                alt="Book Image" 
                style="height: 8rem; width:8rem"
            />
            <div>
                <p class="fs-5 py-0 my-0">@cartItem.Book.Title</p>
                <p class="text-muted fs-5 fst-italic py-0 my-0">by @cartItem.Book.Author.AuthorName</p>
                <p class="fs-5 py-0 my-0">Unit Price: £@cartItem.Book.Price.ToString("F2")</p>
            </div>            
        </div>        

        <div>
            <div class="d-flex align-items-center mb-2">
                <button class="btn btn-outline-secondary me-3 fs-5"
                        @onclick="() => DecreaseQuantity()">
                    -
                </button>

                <span class="fw-bold fs-5">@cartItem.Quantity</span>

                <button class="btn btn-outline-secondary ms-3 fs-5"
                        @onclick="() => IncreaseQuantity()">
                    +
                </button>
            </div>

            <button class="btn btn-danger px-4"
                    @onclick="@RemoveItem">
                Remove
            </button>
        </div>  

        <div class="text-center">
            <p class="fs-5 py-0 my-0 text-muted">Sub-total</p>
            <p class="fs-5 py-0 my-0">£@((@cartItem.Quantity * @cartItem.Book.Price).ToString("F2"))</p>
        </div>              
    </div>
</div>

@code{

    [Parameter] public CartItemModel cartItem { get; set; } = new CartItemModel();
    [Parameter] public EventCallback UpdateCart { get; set; }

    private void IncreaseQuantity()
    {
        CartService.IncreaseCartItemQuantity(cartItem.Book.BookId);
        UpdateCart.InvokeAsync();
    }

    private void DecreaseQuantity()
    {
       if (cartItem.Quantity > 1)
        {        
            CartService.DecreaseCartItemQuantity(cartItem.Book.BookId);
            UpdateCart.InvokeAsync();
        }
    }

    private void RemoveItem()
    {
        CartService.RemoveItemFromCart(cartItem.Book.BookId);
        UpdateCart.InvokeAsync();
    }

}