 @inject NavigationManager NavigationManager
 @rendermode InteractiveServer

 <EditForm 
    Model="@searchModel" 
    OnValidSubmit="@HandleSearch" 
    class="@formStyles" 
    FormName="SearchForm"
>
    <DataAnnotationsValidator />    

    <div class="@inputsContainerStyles">
    <InputText class="@inputsTextStyles"
        placeholder="Author or Book Title"
        @bind-Value="searchModel.Query" 
    />

    <button 
        type="submit" 
        class="@buttonStyles"
    >
        Search
    </button>
</div>

    <div class="text-center">
        <ValidationMessage For="@(() => searchModel.Query)" />
    </div>
    
</EditForm>


@code{

    [Parameter] public string? formStyles { get; set; } 
    [Parameter] public string? inputsContainerStyles {get; set;}
    [Parameter] public string? inputsTextStyles {get; set;}
    [Parameter] public string? buttonStyles {get; set;}
    [Parameter] public bool external {get;set;}

    [Parameter] public EventCallback<string> PerformSearch { get; set; }

    private SearchModel searchModel = new();

    private async Task HandleSearch()
    {
        string? term = searchModel.Query?.Trim();

        if (!string.IsNullOrWhiteSpace(term))
        {
            string? encoded = Uri.EscapeDataString(term);

            if(external){
                NavigationManager.NavigateTo($"/books?SearchTerm={encoded}");
            }else{
                await PerformSearch.InvokeAsync(term);
            }         
        }  

        searchModel.Query = "";
    } 
}