@page "/book/{bookId:int}"
@inject IBookService BookService

<PageTitle>Book</PageTitle>

<BookPageHero BookDetails="bookDetails" />

<hr>

<section class="mb-3">
    <h2>Book Details</h2>
    <p class="fs-5 m-0 p-0 text-secondary">ISBN: @bookDetails.ISBN</p>
    <p class="fs-5 m-0 p-0 text-secondary">Published: @bookDetails.PublishedOn.ToString("MMMM yyyy")</p>
    <p class="fs-5 m-0 p-0 text-secondary">Number of Pages: @bookDetails.PageCount</p>    
    <p class="fs-5 m-0 p-0 text-secondary">Copies In Stock: @bookDetails.StockLevel</p>  
</section>

<hr>

<section class="mb-3">
    <h2>Author's Note</h2>
    <p class="fs-5 text-secondary">@bookDetails.AuthorBookNote</p>
    <NavLink href="@GetAuthorUrl(bookDetails.Author.AuthorId)" class="fs-5 text-success">View Other Books By this Author</NavLink>
</section>

<hr>

<section>
    <h2 class="mb-0 pb-0">Customer Review</h2>
    <div class="d-flex align-items-center">
        <p class="fs-5 pe-2 pt-3 fw-bold">Average: </p>
        <div class="fs-5 p-0 m-0">
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star"></i></span>
        </div>
    </div>
    <p class="fs-5 p-0 m-0">Number of Reviews: 100</p>
    <p class="fs-5 p-0 m-0 mb-4">Number of 5 
        <span><i class="bi bi-star-fill"></i></span> 
        Reviews: 60
    </p>

    <BookCustomerReviewCard/>
    <BookCustomerReviewCard/>
    <BookCustomerReviewCard/>
    <BookCustomerReviewCard/>

    <div class="my-4 text-center">
        <button class="btn btn-secondary fs-5">View More Customer Reviews</button>
    </div>   
    
</section>


@code {
    
    [Parameter] public int bookId { get; set; }

    private BookModel? bookDetails;

    protected override void OnInitialized()
    {
        if (bookId > 0)
        {
            bookDetails = BookService.GetBookById(bookId);
        }
    }    

    private string GetAuthorUrl(int id) => $"/author/{id}";
}